/* ШРИФТЫ */
+font('rt', 'RobotoRegular')
+font('bold', 'RobotoBold')
+font('rl', 'RobotoLight')
+font('rh', 'RobotoThin')
// ОСНОВНЫЕ ЦВЕТА
$accent: #4a5666
$icon: #385991
$grey: #757575
$text: #333333
$link: #848b94
$line: #75777d
$foot: #373737
$btn: #28a7e4

body
  font-family: 'rt', sans-serif
  background: #FFF
  line-height: 1.4
  overflow-x: hidden
  width: 100%
  font-weight: 300
  position: relative
  > svg
  	position: absolute
  	width: 55%
  	height: 1900px
  	top: 0
  	right: 0
  	z-index: 1
  	+md
  		display: none
a
	text-decoration: none
img
	width: 100%
	display: inline-block
	height: auto
h2 
  font-family: bold, sans-serif
  font-size: 24px
  line-height: 1.1
  text-transform: uppercase
header, section
	position: relative
	z-index: 1
	display: flex
	flex-wrap: wrap
	max-width: 1280px
	margin: 0 auto
	+r(1300)
		padding: 0 5%
		width: 100%
	> p
		font-family: rl
		font-size: 18px
		padding-right: 40%
		color: $grey
		+sm
			margin-top: 10px
			text-align: center
			padding: 0
.flex
	display: flex
	flex-wrap: wrap
.btn
	display: inline-block
	padding: 10px 20px
	text-transform: uppercase
	font-size: 14px
	background-color: $text
	box-shadow: 0px 3px 6.65px 0.35px rgba(0, 0, 1, 0.09)
	color: #fff
	transition: color, background-color .25s ease-in-out
	&:hover
		color: $text
		background-color: #fff
	&:active
		color: $text
		background-color: darken(#fff, 20%)
	&__sky
		background-color: $btn
		padding: 18px 0
		&:hover
			background-color: #fff
		&:active
			background-color: darken(#fff, 20%)
	&__grey
		background-color: $accent
		padding: 15px 31px
		&:hover
			color: #fff
			background-color: lighten($accent, 20%)
		&:active
			color: #fff
			background-color: darken($accent, 10%)

// Заголовок секции
.section-title
	margin-top: 80px
	width: 100%
	position: relative
	flex-wrap: no-wrap
	justify-content: space-between
	color: #333
	+sm
		margin-top: 50px
	h2
		font-size: 22px
		line-height: 1.45
		position: relative
		display: inline-block
		+sm
			display: block
			width: 100%
			text-align: center
		+xs
			font-size: 24px
		span
			font-family: rl
	&__icon
		display: inline-block
		width: 55px
		height: 55px
		transform: translateY(-25%)
		border: 2px solid #e1e1e1
		border-radius: 50%
		background-repeat: no-repeat
		background-size: 25px
		background-position: center
		+sm
			display: none
.line
	display: inline-block
	flex-grow: 1
	height: 100%
	margin: 14px 15px 0 15px
	border-top: 1px solid #acacac
	+sm
		display: none
// Список с изображением
.list
	li
		padding: 0 50px 0 30px
		position: relative
		margin-bottom: 20px
		color: $accent
		+md
			padding-right: 0
	&__circle
		li
			&:before
				content: ''
				position: absolute
				top: 2px
				left: 0
				width: 18px
				height: 18px
				border: 3px solid $icon
				border-radius: 50%
	&__img
		li
			&:before
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 20px
				height: 20px
				background: url(../img/svgo/tick-box.svg) center no-repeat
				background-size: 20px
				+lg
					padding-right: 0
	&__numb
		counter-reset: item
		li
			display: block
			&:before
				counter-increment: item
				content: counter(item) '.'
				position: absolute
				color: $accent
				left: 5px
				top: 0
				font-size: 16px
				font-family: bold
	&__arabik
		span
			position: absolute
			left: 5px
			top: 0
			width: 20px
			height: 100%
			text-transform: uppercase
			color: $accent
			font-family: bold
// Круглые иконки
.iconbox
	span
		display: inline-block
		margin-right: 10px
		width: 50px
		height: 50px
		background-color: #e8e8e8
		border-radius: 50%
		background-repeat: no-repeat
		background-size: 25px
		background-position: center

.icontext
		width: 100%
		position: relative
		padding-left: 75px
		min-height: 55px
		margin-bottom: 30px
		color: #fff
		font-size: 14px
		span
			position: absolute
			display: inline-block
			left: 0
			top: 0
			width: 55px
			height: 55px
			border: 3px solid $icon
			border-radius: 50%
			background-repeat: no-repeat
			background-size: 25px
			background-position: center
		h4
			text-transform: uppercase
			padding-top: 7px
		p
			font-family: rl
			margin-top: 7px
form
	width: 100%
	input, textarea
		width: 100%
		padding: 10px 30px
		background-color: transparent
		font-size: 14px
		border: none
		border-bottom: 2px solid
		margin-bottom: 10px
		outline: none 
		resize: none
		&::placeholder
			color: #fff
	button
		margin-top: 10px
		width: 100%
.form__box
	position: relative
	.icontext
		position: relative
		padding-left: 80px
		&:before
			content: ''
			position: absolute
			width: 2px
			height: 100%
			background-color: #696969
			top: 0
			left: 60px
		h4
			padding: 0
			font-family: rh
			font-size: 18px
			line-height: 1.5
			strong
				font-family: rt
		span
			border: none
			background-size: 50px
		p
			color: #eaeaee
			margin-top: 20px
			font-size: 14px

