.header
	justify-content: space-between
	font-size: 12px
	min-height: 150px
	+lg
		min-height: 200px
	+sm
		padding-top: 40px
	&-wrapper
		position: relative
		background-color: $accent
		background-repeat: no-repeat
		background-size: cover
		background-position: center top
		min-height: 400px
		+sm
			background-position: left top
		&:after
			content: ''
			top: 0
			left: 0
			bottom: 0
			right: 0
			position: absolute
			background-color: #4a5666
			opacity: .5
		&:before
			content: ''
			position: absolute
			z-index: 3
			right: 0
			bottom: 0
			width: 570px
			height: 570px
			background-image: url(../img/bg-1.png)
			background-repeat: no-repeat
			background-size: cover
			background-position: center
			+sm
				background: none
			+r(1600)
				width: 400px
				height: 400px
			+lg
				height: 300px
				width: 300px
			+md
				display: none
.logo
	display: flex
	flex-wrap: wrap
	flex-direction: column
	justify-content: center
	+sm
		margin: 0 auto
		padding-left: 150px
		margin-bottom: 40px
		a
			display: inline-block
			width: 180px
			height: 140px
			background: url(../img/svgo/logo-tablet.svg) center no-repeat
		span
			margin: 10px 0 0 0
			text-align: center
	+xs
		padding: 0
		margin-bottom: 0
	img
		max-width: 190px
		+sm
			display: none
	span
		margin: 0 0 0 auto
		color: #ffffff
		font-family: rl
nav
	+lg
		order: 3
		width: 100%
	ul
		align-items: center
		+lg
			margin: 0 auto
		+xs
			flex-direction: column
			justify-content: center
		li
			display: inline-block
			margin: 0 15px
			a
				font-size: 14px
				text-transform: uppercase
				color: #fff
				position: relative
				border-bottom-width: 3px
				border-bottom-style: solid
				border-bottom-color: transparent
				padding-bottom: 10px
				transition: all 0.35s ease
				+xs
					font-size: 22px
				&:hover
					padding-bottom: 2px
					border-bottom-color: rgb(40, 167, 228)

.m-active
	padding-bottom: 2px
	border-bottom-color: rgb(40, 167, 228)
// MOBILE MENU
.mobile__nav
	+xs
		display: block
		position: fixed
		top: 0
		left: 0
	display: none
	width: 70px
	height: 70px
	background-color: #dfdfdf
	position: relative
	z-index: 10
	span
		position: absolute
		width: 20px
		height: 3px
		display: block
		background-color: $accent
		top: 50%
		left: 60%
		transform: translate(-50%,-50%)
		transition: .5s
		transition-delay: .5s
		&:before
			content: ''
			position: absolute
			width: 30px
			height: 100%
			background-color: $accent
			display: block
			top: -8px
			right: 0
		&:after
			content: ''
			position: absolute
			width: 25px
			height: 100%
			background-color: $accent
			display: block
			top: 8px
			right: 0
.feedback
	display: flex
	align-items: center
	+sm
		flex-direction: column
		align-items: center
	+xs
		display: none
	a:first-child
		color: #ffffff
		font-size: 16px
		margin-right: 20px
		+sm
			margin: 0	0	15px	0
		strong
			font-size: 20px
			font-weight: 400
.content
	color: #ffffff
	padding: 100px 0 150px 0
	+r(1300)
		padding: 50px 5%
	+lg
		justify-content: center
	&-title
		width: 35%
		+lg
			width: 48%
		+sm
			width: 100%
			text-align: center
		h1
			text-transform: uppercase
			font-size: 48px
			position: relative
			padding-bottom: 20px
			+xs
				font-size: 30px
			&::before
				content: ''
				position: absolute
				left: 0
				bottom: 0
				height: 3px
				width: 20%
				background-color: $line
				+sm
					left: 40%
		p
			margin: 20px 0
			font-family: rl
		button
			padding: 20px 30px
			+sm
				display: none
			+xs
				display: block
				margin: 40px auto
		a
			color: #ffffff
			transition: color .25s ease
			+sm
				display: none
			&:hover
				color: $link
	&-list
		min-width: 250px
		margin: 16px 0 0 100px
		+lg
			width: 48%
			margin: 0
			padding-top: 20px
		+sm
			margin: 40px 0 0 0
			width: 100%
			text-align: center
		button
			display: none
			+sm
				display: block
				margin: 20px auto
				padding: 18px 40px
			+xs
				display: none
		a
			display: none
			+xs
				display: inline-block
				
	.list
		&__item
			+sm
				padding: 95px 0 0 0
				text-align: center
				width: 48%
				display: inline-block
				margin-bottom: 40px
				h4
					font-size: 16px
					margin-bottom: 10px
				p
					font-size: 16px
				span
					width: 84px
					height: 84px
					left: 50%
					margin-left: -42px
					background-size: 40px
					border: 4px solid $icon
			+xs
				width: 100%

