<div class="footer-wrapper">
	<footer>
		<div class="footer__logo logo">
			<a href="/">
        <img src="img/logo.svg" alt="Биошлам">
      </a>
      <span>ООО «БИОШЛАМ» <br>628415, СУРГУТ, УЛ. ЧЕХОВА, <br>Д. 6,КОРП. 2, ОФИС 19,<br>ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ — ЮГРА</span>
		</div>
		<div class="footer__nav flex">
			<a href="#" target="_blank">Партнерам</a>
			<a href="#" target="_blank">О технологии</a>
			<a href="#" target="_blank">Правовая информация</a>
			<a href="#" target="_blank">Химический процесс</a>
			<a href="#" target="_blank">Документы</a>
			<a href="#" target="_blank">Контакты</a>
		</div>
		<div class="footer__contact">
			<p>8 (3452)<strong> 11-21-31</strong></p>
			<p>7 (921)<strong> 211-21-31</strong></p>
			<p>info@bioshlam.ru</p>
		</div>
	</footer>
	<div class="root"><p>ООО «БИОШЛАМ» 2019</p></div>
</div>
