<header>
  <div class="logo">
    <a href="/">
      <img src="img/logo.svg" alt="ООО «БИОШЛАМ»" title="ООО «БИОШЛАМ»">
    </a>
    <span>Экологическая утилизация <br>бурового шлама</span>
  </div>
  <nav>
    <div class="close">&times;</div>
    <div class="menu_inner">
      <ul class="flex">
        <li><a class="m-active" href="page.html">Главная</a></li>
        <li><a href="#">о технологии</a></li>
        <li><a href="#">партнерам</a></li>
        <li><a href="#">федеральный закон</a></li>
      </ul>
    </div>
  </nav>
  <div class="feedback">
    <a href="tel:+79009000909">+7(900) <strong>900-09-09</strong></a>
    <a href="#callback" class="btn" data-effect="mfp-move-from-top">заказать звонок</a>
  </div>
</header>
