<div class="header-wrapper" style="background-image: url(img/bg-header.jpg);">
  <header class="header">
    <div class="logo">
      <a href="/">
        <img src="img/logo.svg" alt="Биошлам">
      </a>
      <span>Технология утилизации <br>бурового шлама</span>
    </div>
    <nav class="flex">
      <ul class="flex">
        <li><a class="menu-active" href="/">Главная</a></li>
        <li><a href="#">о технологии</a></li>
        <li><a href="#">партнерам</a></li>
        <li><a href="#">федеральный закон</a></li>
      </ul>
    </nav>
    <div class="feedback">
      <a href="tel:+79009000909">+7(900) <strong>900-09-09</strong></a>
      <a href="#" class="btn">заказать звонок</a>
    </div>
  </header>
  <section class="content flex">
    <div class="content-title">
      <h1>Утилизация <br>бурового шлама</h1>
      <p>Собственная уникальная технология<br>
        переработки отходов бурения в экологически<br>
        безопасный грунт</p>
      <button class="btn btn__sky">подробнее о нашей технологии</button>
      <p><a href="#">Связь со специалистом &rarr;</a></p>
    </div>
    <div class="content-list">
      <div class="list">
        <div class="list__item">
          <span style="background-image: url(img/svgo/garbage.svg);"></span>
          <h4>без логистики</h4>
          <p>утилизация на полигоне</p>
        </div>
        <div class="list__item">
          <span style="background-image: url(img/svgo/time.svg);"></span>
          <h4>скорость и сроки</h4>
          <p>до 4500 куб.м в день</p>
        </div>
        <div class="list__item">
          <span style="background-image: url(img/svgo/piggy-bank.svg);"></span>
          <h4>на 15-25% дешевле</h4>
          <p>чем ханение в амбарах</p>
        </div>
        <div class="list__item">
          <span style="background-image: url(img/svgo/forest.svg);"></span>
          <h4>экологичный результат</h4>
          <p>рекультивируемый грунт V-го класса</p>
        </div>
      </div>
    </div>
  </section>
</div>
