<!-- Modal "TEXT" -->
<div class="modal mfp-with-anim mfp-hide" id="text">
	<h4>Далеко-далеко за словесными горами в стране.</h4>
	<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Продолжил, предупреждал текст последний ведущими! Агенство по всей дороге точках прямо большой, что рот языкового, выйти на берегу родного толку составитель вопрос.
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis
	Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis</p>
</div>
<!-- Modal "CALLBACK" -->
<div class="form__box modal mfp-with-anim mfp-hide" id="callback">
	<div class="icontext">
		<span style="background-image: url(img/svgo/phone-blue.svg);"></span>
		<h4>вы всегда можете <br>задать вопрос<br><strong>по телефону <br>
		8 800 777 89 07</strong></h4>
		<p>Или отправте <br>нам заявку</p>
	</div>
	<form name="popup-form">
		<input type="text" name="name" placeholder="Ваше имя">
		<input type="tel" id="popup-phone-mask"name="phone" placeholder="Ваш телефон *" required>
		<textarea name="question" cols="30" rows="7" placeholder="Ваш вопрос"></textarea>
		<input type="hidden" name="popup">
		<button class="btn btn__sky">отправить заявку</button>
	</form>
</div>
<!-- Modal "THANKS" -->
<div class="modal mfp-with-anim mfp-hide" id="thanks">
	<p>Спасибо за заявку. <br>Наш менеджер свяжется с вами <br>в течении 10 минут</p>
	<hr>
</div>
<!-- Modal "SLIDER" -->
<div class="modal owl-carousel mfp-with-anim mfp-hide" id="slider">
	<div class="sl" style="background-image: url(img/slider/1.jpg);"></div>
	<div class="sl" style="background-image: url(img/slider/2.jpg);"></div>
	<div class="sl" style="background-image: url(img/slider/3.jpg);"></div>
	<div class="sl" style="background-image: url(img/slider/4.jpg);"></div>
</div>